name: deploy-prod-safe

on:
    workflow_dispatch:

permissions:
    id-token: write
    contents: read
    packages: read

jobs:
    deploy-prod-safe:
        runs-on: ubuntu-latest

        environment: prod

        steps:

            - name: deploy
              run: echo "Deploying to prod (safe)"
              env:
                  DEPLOY_ENVIRONMENT: prod
                  DEPLOY_MODE: safe
